 body {
     margin-left: auto;
     margin-right: auto;
     max-width: 70em;
     font-size: 16px;
     font-family: 'PT Sans Narrow', sans-serif;
     /* width: 100%; */
 }

 .updiv {
     margin: 0px 0px 0px 50px;
 }

 .point_ranking {
     display: inline-flex;
 }

 /* .ste, .bol, .tim, .dra, .dam, .vel{
            display: block;
            position: relative;
        } */
 .startrace {
     font-size: 20px;
     border-radius: 5px;
     color: #f6e6aa;
     background: rgb(249, 138, 138);
     border: 4px solid darkred;
     box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.5);
     font-family: 'PT Sans Narrow', sans-serif;
     font-size: 25px;
     font-weight: 600;
     cursor: pointer;
     transition: .2s;
 }

 .startrace:hover {
     background: rgb(159, 0, 0);
     transform: scale(1.1, 1.1);
 }

 .startrace:hover:active {
     color: brown;
     background: rgb(255, 255, 255);
     transform: scale(0.95, 0.95);
     border: 4px solid rgb(0, 0, 0);
     box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
 }

 .rankh {

     display: none;
     position: relative;
     height: 50px;
 }

 .rankdiv {
     width: 130px;
     height: 50px;
     background: #c19c19;
     margin: 0px 5px 0px 0px;
     border-radius: 5px;
     box-shadow: 4px 4px 8px rgb(0, 0, 0, 0.2);
     display: flex;
     position: absolute;
     overflow: hidden;
 }

 .horseimg {
     width: 50px;
     height: 50px;
     background: #191919;
     border-radius: 5px;
 }

 .horseinfo {
     margin: 0px 0px 0px 3px;
 }

 .horsename {
     width: 50px;
     height: 18px;
     margin: 0px 0px 0px 0px;
     padding: 3px 0px 0px 0px;
 }

 .horsecoin {
     margin: -10px 0px 0px 0px;
     /* display: flex;
            align-items: flex-end;
            justify-content: space-evenly; */
 }

 .horsecoin p {
     font-size: 16px;
     display: flex;
     justify-content: space-between;
 }

 .ranking {
     margin: -4px 0px 0px 0px;
     font-size: 20px;
     color: rgb(0, 0, 0);
 }

 .money {
     margin: 0px -0px 0px 10px;
 }

 .coinimg {
     margin: -8px -8px 0px -8px;
     width: 30px;
     animation: coinke 3s linear alternate infinite;
     transition: transform 1s;
 }

 @keyframes coinke {
     100% {
         transform: rotatey(360deg)
     }
 }

 /* ===================   race pist   ==================== */
 /* =================== horse setting ====================== */
 .boxgame {
     position: relative;
     width: 1000px;
     height: 600px;
     background: linear-gradient(0deg, rgb(75, 48, 0), rgb(182, 100, 0), rgb(122, 67, 0));
     margin: 0px 0px 0px 50px;
     overflow: hidden;
     border: 3px solid rgb(0, 0, 0, 0.5);
     border-radius: 5px;
     box-shadow: 6px 4px 6px rgb(0, 0, 0, 0.5);
 }

 /* Race in site */
 .mainbox {
     /* margin: 0px 0px 0px 100px; */
     /* width: 10000px; */
     height: 600px;
     background: linear-gradient(0deg, rgb(75, 48, 0), rgb(182, 100, 0), rgb(122, 67, 0));
     border-right: 8px groove white;
     position: absolute;
     left: 0px;
     transition: 2s;

 }

 /* race on site */
 .mainbox_around {
     /* width: 11500px; */
     height: 160px;
     margin: -10px 0px 0px 0px;
     background: linear-gradient(0deg, rgb(8, 93, 0), rgb(8, 93, 0), rgb(8, 93, 0));
     position: absolute;
     display: flex;
     top: 10px;
 }

 .mainbox_up {
     width: 11500px;
     height: 440px;
     position: absolute;
     display: flex;
     top: 140px;
 }

 .mainbox_down {
     width: 11500px;
     height: 80px;
     /* background: #000; */
     position: absolute;
     display: flex;
     bottom: 30px;
 }

 .hedgeall {
     display: flex;
     /* position: relative; */
 }

 .hedge1 {
     width: 100px;
     height: 10px;
     position: relative;
     top: 20px;
     transform: matrix(1.00, 0.00, -0.20, 1.00, 0, 0);
     background: linear-gradient(0deg, rgb(75, 33, 0), rgb(159, 69, 0), rgb(207, 90, 0));
     box-shadow: 0px 20px 5px -2px rgb(0, 0, 0, 0.5);
 }

 .hedge2 {
     width: 8px;
     height: 60px;
     position: relative;
     top: 10px;
     margin: 0px 0px 0px -2px;
     transform: matrix(1.08, 0.00, -0.2, 0.80, -4, 0);
     background: linear-gradient(90deg, rgb(75, 33, 0), rgb(159, 69, 0), rgb(207, 90, 0));
     box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 1.5);
 }

 .boxlar {
     /* margin: 0px 0px 0px 100px; */
     left: 0;
     position: absolute;
     padding: 5px 0px 0px 0px;
     /* transition: 1s; */
     width: 100%;
     height: 100%;
 }

 .box {

     left: 5px;
     /* transition: 3s; */
     margin: 10px 0px 0px 0px;
     position: absolute;
     bottom: 0;
     display: block;
     width: 50px;
     height: 50px;
 }

 .box span {
     font-size: 10px;
     color: aliceblue;
     text-shadow: 4px 4px 8px #191919;
     position: absolute;
     transform: translate(80px, -10px);
     margin: 55px 0px 0px 0px;
     z-index: 1;
 }

 .box svg {
     height: 250%;
     width: 250%;
     transform: scale(-1, 1);
     /* box-shadow: -80px 20px 0px 0px black; */
 }

 .horse_hind2 {
     fill: rgb(127, 86, 57);
     animation: horsehind2 1s infinite cubic-bezier(0.68, .62, 0.25, 1) alternate;
     /* rgb(68,49,38) */
 }

 .horse_hind1 {
     fill: rgb(170, 115, 77);
     transform: skew(4deg);
     animation: horsehind1 1s infinite cubic-bezier(0.68, .12, 0.25, 1) alternate;
 }

 .horse_front2 {
     fill: rgb(127, 86, 57);
     animation: horsefront2 1s infinite cubic-bezier(0.68, .32, 0.45, 1) alternate;
 }

 .horse_front1 {
     fill: rgb(170, 115, 77);
     animation: horsefront2 1s infinite cubic-bezier(0.48, .62, 0.55, 1) alternate;
 }

 .horse_tail {
     fill: rgb(46, 34, 27);
     animation: horsehead 1s infinite cubic-bezier(0.88, .22, 0.45, 1) alternate-reverse;
 }

 .horse_body {
     fill: rgb(170, 115, 77);
     animation: horsebody 1s infinite cubic-bezier(0.48, .62, 0.55, 1) alternate-reverse;
 }

 .horse_head {
     fill: rgb(170, 115, 77);
     animation: horsehead 1s infinite cubic-bezier(0.48, .62, 0.55, 1) alternate-reverse;
 }

 .animoff {
     animation: none;
 }

 @keyframes horsehind2 {
     100% {
         transform: matrix(1, 0.88, -.90, .32, 450, -510);
     }
 }

 @keyframes horsehind1 {
     100% {
         transform: matrix(1, 0.9, -.95, .30, 450, -550);
     }
 }

 @keyframes horsefront2 {
     100% {
         transform: matrix(1, 0.9, -.90, .32, 450, -360);
     }
 }

 @keyframes horsebody {
     100% {
         transform: matrix(1.08, -0, 0.2, 1.08, -150, -35);
     }
 }

 @keyframes horsehead {
     100% {
         transform: matrix(1.05, -0.1, 0.3, 1.05, -160, 55);
     }
 }

 /* horse2 */
 .box2 path:nth-child(2) {
     fill: rgb(150, 92, 40);
 }

 .box2 path:nth-child(1) {
     fill: rgb(69, 35, 6);
 }

 .box2 path:nth-child(4),
 .box2 :nth-child(5),
 .box2 :nth-child(3),
 .box2 path:nth-child(6) {
     fill: rgb(25, 13, 2);
 }

 /* horse3 */
 .box3 path:nth-child(2) {
     fill: rgb(238, 238, 238);
 }

 .box3 path:nth-child(1) {
     fill: rgb(202, 202, 202);
 }

 .box3 path:nth-child(4),
 .box3 :nth-child(5),
 .box3 :nth-child(3),
 .box3 path:nth-child(6) {
     fill: rgb(160, 160, 160);
 }

 /* horse4 */
 .box4 path:nth-child(2) {
     fill: rgb(213, 85, 46);
 }

 .box4 path:nth-child(1) {
     fill: rgb(146, 34, 0);
 }

 .box4 path:nth-child(4),
 .box4 :nth-child(5),
 .box4 :nth-child(3),
 .box4 path:nth-child(6) {
     fill: rgb(107, 25, 0);
 }

 /* horse5 */
 .box5 path:nth-child(2) {
     fill: rgb(210, 148, 77);
 }

 .box5 path:nth-child(1) {
     fill: rgb(133, 72, 1);
 }

 .box5 path:nth-child(4),
 .box5 :nth-child(5),
 .box5 :nth-child(3),
 .box5 path:nth-child(6) {
     fill: rgb(94, 50, 0);
 }

 /* horse6 */
 .box6 path:nth-child(2) {
     fill: rgba(210, 77, 144, 0.788);
 }

 .box6 path:nth-child(1) {
     fill: rgb(133, 1, 74);
 }

 .box6 path:nth-child(4),
 .box6 :nth-child(5),
 .box6 :nth-child(3),
 .box6 path:nth-child(6) {
     fill: rgb(94, 0, 45);
 }

 /* stant */
 .stant {
     width: 160px;
     height: 600px;
     /* background: #000; */
     position: absolute;
     bottom: 0px;
     display: flex;
     flex-direction: column;
     justify-content: end;
     align-items: flex-end;

 }

 .stant_o {
     width: 40px;
     height: 40px;
     background: white;
     position: absolute;
     margin: 0px 0px 0px 0px;
     /* z-index: 1; */
 }